<div id="contact">

    <div class="page-header text-center">
        <h1> contact me </h1>
    </div><!-- page-header -->

    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="direct-contact">
                        <h1> direct contact</h1>
                        <ul class="mb-5">
                            <li> <strong> Phone </strong>  : <a href="tel:00201024392214"> 002 01024392214 </a> </li>
                            <li> <strong> Whatsapp  </strong> : <a href="https://api.whatsapp.com/send?phone=201273495477" target="_blank"> 002 0127495477 </a></li>
                        </ul>
                        <hr class="custom-hr" />
                        <h1> shared Code <i class="fa fa-heart"></i> </h1>
                        <ul>
                            <li> <strong> Githup </strong>   : <a href="https://github.com/waleedo0o7">  waleedo0o7 </a> </li>
                            <li> <strong> codepen  </strong> : <a href="https://codepen.io/waleedhd1">  waleedValencia </a> </li>
                        </ul>
                    </div><!-- direct-contact -->
                </div><!-- col-md-6 -->
                <div class="col-md-6">
                    <div class="form-container">
                        <h1> Send Message</h1>
                        <form id="form">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1"> Name </label>
                                        <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter Your Name">
                                    </div> <!-- form-group -->
                                </div><!-- col-md-6 -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1"> Phone </label>
                                        <input type="text" class="form-control" id="phone" aria-describedby="emailHelp" placeholder="Enter Your Phone">
                                    </div> <!-- form-group -->
                                </div><!-- col-md-6 -->
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1"> Message </label>
                                        <textarea class="form-control" id="message" aria-describedby="emailHelp" placeholder="Enter Your Phone"></textarea>
                                    </div> <!-- form-group -->
                                </div><!-- col-md-12 -->
                            </div> <!-- row -->
                            <button type="submit" class="btn btn-primary w-100">Submit</button>
                        </form> <!-- form -->
                    </div> <!-- form-container -->
                </div> <!-- col-md-6 -->
            </div> <!-- row -->
        </div><!-- container -->
    </div><!-- page-content -->

</div><!-- portfolio-list -->