<div id="portfolio" class="portfolio-list">

    <div class="page-header text-center">
        <h1> portfolio </h1>
    </div><!-- page-header -->

    <div class="page-content">
        <div class="container">            
            <div class="items">

                
                <div class="row p-0 mb-3 item">
                    <div class="col-md-8">
                        <div class="item-image">
                            <img class="img-fluid" src="https://via.placeholder.com/800x400" />
                        </div><!-- item-image -->
                    </div><!-- col-md-8 -->
                    <div class="col-md-4">
                        <div class="item-details">
                            <h1> <a routerLink="/portfolio"> Project Name </a> </h1>
                            <div class="view-more">
                                <a routerLink="/portfolio">  about this project </a>
                            </div>
                        </div><!-- item-details -->
                    </div><!-- col-md-4  -->
                </div><!-- row item -->
                <div class="row p-0 mb-3 item">
                    <div class="col-md-8">
                        <div class="item-image">
                            <img class="img-fluid" src="https://via.placeholder.com/800x400" />
                        </div><!-- item-image -->
                    </div><!-- col-md-8 -->
                    <div class="col-md-4">
                        <div class="item-details">
                            <h1> <a routerLink="/portfolio"> Project Name </a> </h1>
                            <div class="view-more">
                                <a routerLink="/portfolio">  about this project </a>
                            </div>
                        </div><!-- item-details -->
                    </div><!-- col-md-4  -->
                </div><!-- row item -->
                <div class="row p-0 mb-3 item">
                    <div class="col-md-8">
                        <div class="item-image">
                            <img class="img-fluid" src="https://via.placeholder.com/800x400" />
                        </div><!-- item-image -->
                    </div><!-- col-md-8 -->
                    <div class="col-md-4">
                        <div class="item-details">
                            <h1> <a routerLink="/portfolio"> Project Name </a> </h1>
                            <div class="view-more">
                                <a routerLink="/portfolio">  about this project </a>
                            </div>
                        </div><!-- item-details -->
                    </div><!-- col-md-4  -->
                </div><!-- row item -->

            </div><!-- items -->
        </div><!-- container -->
    </div><!-- page-content -->

</div><!-- portfolio-list -->