<div class="main-site">

    <div id="main-site-container" class="main-site-container">

      <div id="top-menu">
        <div class="logo">
          <img src="../assets/images/logo.png" class="img-fluid" />
        </div><!-- logo -->
        <div class="mid-menu">
          <ul class="menu-list">
            <li class="menu-item"> <a class="" routerLink="/home"> home </a> </li>
            <li class="menu-item"> <a class="" routerLink="/portfolio-list"> portfolio </a> </li>
            <li class="menu-item"> <a class="" routerLink="/services"> services </a> </li>
            <li class="menu-item"> <a class="" routerLink="/contact"> contact </a> </li>
          </ul>
        </div><!-- mid-menu -->

        <div class="second-menu">
          <i class="fa fa-bars"></i>
        </div><!-- second-menu -->
      </div><!-- top-menu -->



      <router-outlet></router-outlet>




      <footer>

        <section id="contact">

          <h1 class="text-center">
              Follow Me
          </h1>
        
          <div class="contact-me-container">
              <div class="container">
                  <ul>
                      <li> <a href="https://www.google.com" target="_black"> <i class="fab fa-linkedin"></i> </a> </li>
                      <li> <a href="https://www.google.com" target="_black"> <i class="fab fa-linkedin"></i> </a> </li>
                      <li> <a href="https://www.google.com" target="_black"> <i class="fab fa-linkedin"></i> </a> </li>
                      <li> <a href="https://www.google.com" target="_black"> <i class="fab fa-linkedin"></i> </a> </li>
                  </ul>
              </div>
          </div>
        
        </section><!-- skills -->

        <p class="m-0"> made with <i style="color: #f00;" class="fa fa-heart"></i> by waleed saeed </p>
      </footer>

    </div><!-- main-site-content -->

</div><!-- main-site -->

<div class="cursor"></div>
<div class="cursor-follower"></div>
<div class="page-transition"></div>