<div id="services">

    <div class="page-header text-center">
        <h1> services </h1>
    </div><!-- page-header -->

    <div class="page-content">
        <div class="container">
            <div class="items">

                
                <div class="row item">
                    <div class="col-md-6">
                        <div class="item-image">
                            <img class="img-fluid" src="https://via.placeholder.com/800x600" />
                        </div><!-- item-image -->
                    </div><!-- col-md-6 -->
                    <h1 class="service-headline">
                        <div class="service-headline-container">
                            <div class="front">Hosting</div>
                            <div class="back">Hosting</div>
                        </div><!-- service-headline-container -->
                    </h1>
                    <div class="col-md-6 static">
                        <div class="item-details">
                            <ul>
                                <li> Servers in london </li>
                                <li> cpanel </li>
                                <li> support 24/7 </li>
                                <li> High speed servers</li>
                                <li> Powerful Dedicated Servers </li>
                            </ul>
                        </div><!-- item-details -->
                    </div><!-- col-md-6 -->
                </div><!-- row item-->


                
                <div class="row item">
                    <div class="col-md-6">
                        <div class="item-image">
                            <img class="img-fluid" src="https://via.placeholder.com/800x600" />
                        </div><!-- item-image -->
                    </div><!-- col-md-6 -->
                    <h1 class="service-headline">
                        <div class="service-headline-container">
                            <div class="front">LANDINGPAGES</div>
                            <div class="back">LANDINGPAGES</div>
                        </div><!-- service-headline-container -->
                    </h1>
                    <div class="col-md-6 static">
                        <div class="item-details">
                            <ul>
                                <li> Trendy Design</li>
                                <li> High quality images </li>
                                <li> Email And Whatsapp contact</li>
                            </ul>
                        </div><!-- item-details -->
                    </div><!-- col-md-6 -->
                </div><!-- row item-->


                
                <div class="row item">
                    <div class="col-md-6">
                        <div class="item-image">
                            <img class="img-fluid" src="https://via.placeholder.com/800x600" />
                        </div><!-- item-image -->
                    </div><!-- col-md-6 -->
                    <h1 class="service-headline">
                        <div class="service-headline-container">
                            <div class="front">COMPANY PROFILE</div>
                            <div class="back">COMPANY PROFILE</div>
                        </div><!-- service-headline-container -->
                    </h1>
                    <div class="col-md-6 static">
                        <div class="item-details">
                            <ul>
                                <li> Unlimited pages </li>
                                <li> Trendy Design </li>
                                <li> High quality images </li>
                                <li> Professional portfolio</li>
                            </ul>
                        </div><!-- item-details -->
                    </div><!-- col-md-6 -->
                </div><!-- row item-->



                <div class="row item">
                    <div class="col-md-6">
                        <div class="item-image">
                            <img class="img-fluid" src="https://via.placeholder.com/800x600" />
                        </div><!-- item-image -->
                    </div><!-- col-md-6 -->
                    <h1 class="service-headline">
                        <div class="service-headline-container">
                            <div class="front">E-COMMERCE</div>
                            <div class="back">E-COMMERCE</div>
                        </div><!-- service-headline-container -->
                    </h1>
                    <div class="col-md-6 static">
                        <div class="item-details">
                            <ul>
                                <li> Unlimited Products </li>
                                <li> Professional Admin Panel </li>
                                <li> cash on delivery </li>
                                <li> online payment</li>
                                <li> visa - paypal - vodafon cash - fawry - etc.. </li>
                            </ul>
                        </div><!-- item-details -->
                    </div><!-- col-md-6 -->
                </div><!-- row item-->



            </div><!-- items -->
        </div><!-- container -->
    </div><!-- page-content -->

</div><!-- portfolio-list -->